#sun {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  background-color: yellow;
  border: 2px solid red;
  color: red;
  text-align: center;
}

#earth {
  position: fixed;
  width: 75px;
  height: 75px;
  background-color: green;
  border: 2px solid blue;
  color: blue;
  text-align: center;
}
